<section id="home" class="hero">
  <div class="container">
    <img src="./img/hero-img.webp" alt="" class="hero-img" width="700" />
    <div class="hero-title-wrapper">
      <h1 class="hero-title">
        Win Your Own <br />
        <span>Helicopter!</span>
      </h1>
      <p class="hero-text">
        It's as easy as <span class="hero-text-number">1</span>
        <span class="hero-text-number">2</span>
        <span class="hero-text-number">3</span> !
      </p>
      <p class="hero-text">
        Fill out the form, get your 6-digit lucky number, and have a chance to
        spin the wheel at Sedric's booth!
      </p>
      <a
        href="https://form.jotform.com/Elmalam/win-a-helicopter"
        class="hero-btn btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>Get Your Lucky Number</span>
      </a>
    </div>
  </div>
</section>
