:root {
  scroll-behavior: smooth;
  ---white: #feffff;
  --background: #feffff;
  --text-color: #f6f6ff;

  /*-----------------------------------*/
  --font-family: 'Poppins', sans-serif;
  --second-family: 'DM Sans', sans-serif;
  /*-----------------------------------*/
  --timing-function: 300ms ease-in-out;
  /*-----------------------------------*/
}
