<section class="steps">
  <div class="container">
    <h2 class="steps-title">3 Easy Steps</h2>
    <div class="steps-cards-list-wrapper">
      <img
        class="steps-card-decor-top-m"
        src="./img/steps-decor-1-m.svg"
        alt="decor"
        width="132"
      />
      <img
        class="steps-card-decor-bottom-m"
        src="./img/steps-decor-2-m.svg"
        alt="decor"
        width="132"
      />
      <img
        class="steps-card-decor-top-d"
        src="./img/steps-decor-1-d.svg"
        alt="decor"
        width="380"
      />
      <img
        class="steps-card-decor-bottom-d"
        src="./img/steps-decor-2-d.svg"
        alt="decor"
        width="357"
      />
      <div class="steps-cards-list">
        <div class="steps-card">
          <div class="sc-content-wrapper">
            <img
              class="steps-card-img"
              src="./img/steps-card-icon1.svg"
              alt=""
              width="80"
            />
            <h3 class="steps-card-title">Fill Out the Form</h3>
            <p class="steps-card-text">
              Begin your journey to winning a helicopter by filling out a simple
              form. Provide your name, email, and contact details to enter the
              contest. This information will help us get in touch if you're the
              lucky winner!
            </p>
          </div>
        </div>
        <div class="steps-card">
          <div class="sc-content-wrapper">
            <img
              class="steps-card-img"
              src="./img/steps-card-icon2.svg"
              alt=""
              width="80"
            />
            <h3 class="steps-card-title">
              Get Your 6-Digit<br />
              Lucky Number
            </h3>
            <p class="steps-card-text">
              Once you've completed the form, you'll receive a unique 6-digit
              number via email. This number is your entry ticket to the lucky
              wheel spin!
            </p>
          </div>
        </div>
        <div class="steps-card">
          <div class="sc-content-wrapper">
            <img
              class="steps-card-img"
              src="./img/steps-card-icon3.svg"
              alt=""
              width="80"
            />
            <h3 class="steps-card-title">Spin to Win!</h3>
            <p class="steps-card-text">
              Bring your lucky number to booth 602 and use it to spin the lucky
              wheel. Each spin brings you closer to possibly winning your very
              own helicopter. Excitement awaits with every turn!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
